@mixin font-size($desktop, $tablet: null, $mobile: null, $line) {
    font-size: $desktop;
    line-height: $desktop * $line;
    @if $tablet {
        @media (max-width: 1024px) {
            font-size: $tablet;
            line-height: $tablet * $line;
        }
    }
    @if $mobile {
        @media (max-width: 768px) {
            font-size: $mobile;
            line-height: $mobile * $line;
        }
    }
}
