$blue-light: #68c2f7;
$blue-dark: #153195;

$yellow: #f4da4c;
$red: #cc4c57;

$pink-light: #f0bac8;
$pink-dark: #e960b5;

$purple-light: #c2bef9;
$purple-dark: #c17feb;

$green: #d4f62d;
$teal: #7ce9d3;

$light: #d7d7d7;
$dark: #232323;


$font-size-sm: 0.875rem;  // 14px
$font-size-md: 1rem;      // 16px
$font-size-lg: 1.25rem;   // 20px
$font-size-xl: 2rem;      // 32px

$breakpoint-desktop: 1200px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;

